header {
    width:100%;
    padding: 28px 8%;
}

#navbar {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#nav_logo {
    font-size: 35px;
    color:#11300d;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
    }


.nav-item a {
    
    text-decoration: none;
    color: black;
    font-weight:600px;
}
.nav-item.active a {
    color:black;
    border-bottom: 3px solid #daa520;

}

#mobile_menu.active {
    display: block;
}